<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Tourist Attractions</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<table>
    <thead>
    <tr class="table-header1">
        <th colspan="3" class="th1">Tourist Attractions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <tr th:each="attraction : ${attractions}">

        <td th:text="${attraction.name}" class="table-header">Attraction Name</td>
        <td th:text="${attraction.description}">Attraction Description</td>
        <td>
            <a th:href="@{'attractions/' + ${attraction.name} + '/tags'}">
                <input type="button" value="Tags" class="button">
            </a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{'attractions/add'}">
    <input type="button" value="Add new attraction" class="button">
</a>
</body>
</html>
